@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400i,600,700,900&display=swap");

/* define variables */

:root {

    --primary-clr: #624F82;
    --dark-clr: #3F3B6C;
    --light-clr: #9F73AB;
    --contrast-clr: #A3C7D6;

    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-900: 900;

}

/* remove default boxmodel margin/padding */

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
  }


body {
    font-family: "Vollkorn", serif;
    /* box-sizing: border-box; */
    outline: none;
    font-size: 1rem;
    line-height: 1.6;
    color: black;
    background-color: var(--contrast-clr);

}

.wrapper {
    display: grid;
    height: 100vh;
    margin: 1rem;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}

/* navbar */

.navbar {
    background-color: var(--dark-clr);
    color: var(--contrast-clr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 8rem;
}

.logo {
    background-color: #624F82;
    padding: 0.8rem 2rem 0.8rem 4rem;
    font-size: x-large;
 
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    flex-wrap: wrap;
}

.nav-list a {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--contrast-clr);
    padding: 0 2rem;
}

.navbar a:hover {
    color: var(--light-clr);
    font-size: xx-large;

}

/* hero section */

header {
    background-image: url(../images/gradienta-gwE9vXSi7Xw-unsplash.jpg);
    height: 12rem;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle {
    background-color: var(--primary-clr);
    width: 20rem;
    margin-right: 15em;
    margin-left:auto;
    text-align: center;
    color: darkgrey;

}

.grid-aboutme {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-areas: 
    "aboutme-1 aboutme-2"
    ;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.aboutme-1 {
    grid-area: aboutme-1;
    border-right: 0.3rem solid var(--dark-clr);
    width: 300px;
    font-weight: bold;
    color: var(--dark-clr);
}

.aboutme-2 {
    grid-area: aboutme-2;
    color: var(--dark-clr);
    font-size: 1rem;
}

.aboutme-1 h2 {
    text-align: end;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* work section */

.grid-work {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas: 
    "work-section-1 work-section-2 work-section-2"
    "work-section-1 work-section-2 work-section-2"
    "work-section-1 work-section-3 work-section-4"
    "work-section-1 work-section-5 work-section-6"
    ;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.work-section-1 {
    grid-area: work-section-1;
    border-right: 0.3rem solid var(--dark-clr);
    width: 300px;
    font-weight: bold;
    color: var(--dark-clr);
}

.work-section-2 {
    grid-area: work-section-2;
    border: 1px solid black;
    background-image: url(../images/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
    width: 100%;
    background-size: cover;
    height: 30rem;

}

.work-section-3 {
    grid-area: work-section-3;
    border: 1px solid black;
    background-image: url(../images/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
    width: 100%;
    background-size: cover;
    height: 15rem;
}

.work-section-4 {
    grid-area: work-section-4;
    border: 1px solid black;
    background-image: url(../images/markus-spiske-8OyKWQgBsKQ-unsplash.jpg);
    width: 100%;
    background-size: cover;
    height: 15rem;
}

.work-section-5 {
    grid-area: work-section-5;
    border: 1px solid black;
    background-image: url(../images/pexels-fauxels-3184454.jpg);
    width: 100%;
    background-size: cover;
    height: 15rem;
}

.work-section-6 {
    grid-area: work-section-6;
    border: 1px solid black;
    background-image: url(../images/pexels-thisisengineering-3861972.jpg);
    width: 100%;
    background-size: cover;
    height: 15rem;
}

.button {
    background-color: var(--dark-clr);
    color: var(--contrast-clr);
    text-decoration: none;
    border: 0;
    padding: 0.6em 1.2em;
}

.work-section-1 h2 {
    text-align: end;
    margin-right: 1rem;
    margin-top: 1rem;
}

.work-section-2 h2 {
    background-color: var(--dark-clr);
    color: var(--contrast-clr);
    padding: 0.2rem;
}

.work-section-2 p {
    font-size: 1.2rem;
    margin-left: 5px;
}

.work-box h4 {
    margin-left: 5px;
}

.work-box {
    border: 0.3rem solid var(--dark-clr);
    color: var(--dark-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--contrast-clr);
}

.work-box h2, .work-box p {
    margin-bottom: 0.5rem;
}

/* footer */

.grid-footer {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 300px 1fr ;
    grid-template-areas: 
    "contactme-1 contactme-2"
}

.contactme-1 {
    grid-area: contactme-1;
    border-right: 0.3rem solid var(--dark-clr);
    width: 300px;
    font-weight: bold;
    color: var(--dark-clr);
    margin-bottom: 1rem;
}

.contactme-2 {
    grid-area: contactme-2;
    border: 0.3rem solid var(--dark-clr);
    color: var(--dark-clr);
    margin-bottom: 1rem;
}


.contactme-2 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 100%;
}

.contactme-2 li {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--dark-clr);
    padding: 0 2rem;

}

.contactme-2 a:hover {
    color: var(--light-clr);
    font-size: xx-large;

}

.contactme-1 h2 {
    text-align: end;
    margin-right: 1rem;
    margin-top: 1rem;

}


/* media queries */

@media (max-width: 900px) {

    .navbar {
        display: flex;
        flex-direction: column;
    }

    header {
            height: 10rem;
}

}

@media (max-width: 680px) {
    .aboutme-1 {
        width: 150px;
    }
    .aboutme-2 {
        width: 150px;
    }
    .work-section-1 {
        width: 150px;
    }
    .contactme-1 {
        width: 150px;
    }
    .grid-work {
        grid-template-columns: 150px 1fr 1fr;
    }
    .grid-footer {
        grid-template-columns: 150px 1fr ;
    }
}


@media (max-width: 600px) {

    .grid-work {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "work-section-1"
        "work-section-2"
        "work-section-3"
        "work-section-4"
        "work-section-5"
        "work-section-6";
    }

    .contactme-2 ul {
        display: flex;
        flex-direction: column;
    }

    .grid-footer {
        grid-template-areas: 
        "contactme-1"
        "contactme-2"
        ;
        grid-template-columns: 1fr;
    }

    .work-section-2
    ,.work-section-3
    ,.work-section-4
    ,.work-section-5
    ,.work-section-6 {
        width: 80%;
    }
}



@media (max-width: 500px) {

 
    .nav-list a {
        font-size: 1em;
        padding: 0 1rem;
    }

    .logo {
        margin: 1rem 0;

    }
    .aboutme-2 p {
        overflow: hidden;
    }

    .grid-aboutme {
        grid-template-areas: 
        "aboutme-1"
        "aboutme-2"
        ;
    }

    .work-section-2
    ,.work-section-3
    ,.work-section-4
    ,.work-section-5
    ,.work-section-6 {
        width: 70%;
    }

    .aboutme-2 {
        width: 70%;
    }

    .logo {
        padding: 0.8rem 1rem 0.8rem 1rem;
        font-size: large;
        width: 15rem;
        
    }

    .navbar {
        display: inline;  
    }

    .contactme-2 {
        width: 24rem;
    }

    header {
        height: 8rem;
}
}

@media (max-width: 400px) {

    .work-section-2
    ,.work-section-3
    ,.work-section-4
    ,.work-section-5
    ,.work-section-6
    , .contactme-2 {
        width: 60%;
     
    }
    .aboutme-2 {
        width: 60%;
    }

}